.top-page-header {
  width: 100%;
  height: 146px;
  background-color: #17769A;
  opacity: 61%;
  display: flex;
  justify-content: flex-end;
}

.center-logo{
  color: #918f8f;
  opacity: 67%;
  /* background-color: #FFF; */
  margin-right: 5%;
  line-height: 135px;
  font-size: 90px;
  font-family: 'Apple Chancery';
  letter-spacing: 2px;
}

.header-list{
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

.header-right-top{
  opacity: 55%;
  color: #fff;
  background-color: #075F79;
  display: inline-block;
  border-radius: 30px;
  font-size: 15px;
  padding: 8px 30px;
  margin-bottom: 4px;
  letter-spacing: 3px;
  cursor:pointer;
  transition: 0.5s;
}

.header-right-top:hover{
  opacity: 100%;
  border-radius: 20px;
  transform: scale(0.9);
}

.header-right-second{
  color: #918f8f;
  opacity: 80%;
  margin: 5px;
  font-size: 23px;
}