<header class='top-page-header'>

  <div class='center-logo'>
    Daily
  </div>

  <%# もしログインしていなければ表示しない %>
  <div class='list'>
    <ul class='header-list'>
      <li class='header-right-top' id="log-out">ログアウト
      </li>
      <li class='header-right-second'>ようこそ ゲストさん
      </li>
      <li class='header-right-second'>Lv10 次のレベルまで n個 タスクをクリアしよう
      </li>
    </ul>
  </div>
  <%# もしログインしていなければ表示しない %>
</header>